
.ui.piled.post.segment {
    cursor: pointer;
    margin-top: -100%;
    opacity: 0;
    transition: opacity 0.2s ease-out, margin-top 1s ease-out;
    z-index: -1;
}

.visible .ui.piled.post.segment {
    margin-top: 16px;
    opacity: 1;
    z-index: 0;
}
